@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #818CF8 #EEF2FF;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #EEF2FF;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #818CF8;
  border-radius: 10px;
  border: 2px solid #EEF2FF;
}

.scale-102 {
  transform: scale(1.02);
}